aside{
    height: 100vh;
   }
   aside .top{
    background: var(--clr-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
   }
  
   aside .logo{
     display: flex;
     gap: 1rem;
   }
   aside .logo img{
     width: 2rem;
     height: 2rem;
   }
   aside .top div.close span{
     display: none;
   }
  
   /* ===================
   Sidebar
   ================== */
  
   aside .sidebar{
    background: var(--clr-white);
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 1rem;
   }
  
   aside h3{
    font-weight: 500;
   }
  
   aside .sidebar a{
    display: flex;
    color: var(--clr-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    height: 3.3rem;
    transition: all .1s ease;
   
   }
  
   aside .sidebar a span{
    font-size: 1.6rem;
    transition: all .3s ease-in-out;
    
   }
  
   aside .sidebar a:last-child{
    position: absolute;
    bottom: 1rem; 
    width: 100%;
   }
  
   aside .sidebar a.active{
     background-color: var(--clr-light);
     color: var(--clr-primary);
     margin-left: 0;
     border-left: 5px solid var(--clr-primary);
     margin-left: calc(1rem - 3px);
   }
   aside .sidebar a:hover span{
    margin-left: 1rem;
   }
  
   aside .sidebar a span.msg_count{
     background-color: var(--clr-danger);
     color: var(--clr-white);
     padding: 2px 5px;
     font-size: 11px;
     border-radius: var(--border-radius-1);
   }